{% extends 'drafter/leagues/details/_league.html' %}
{% block title %}LeagueSports - League Rosters{% endblock %}

{% block left_content %}
{% endblock %}
{% block league_content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>League id</th>
                    <th>League name</th>
                    <th>Size</th>
                    <th>Commish</th>
                    <th>Teams</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>{{ league.id }}</td>
                    <td>{{ league.name }}</td>
                    <td>{{ league.size }}</td>
                    <td>{{ league.commish }}</td>
                    <td>{{ teams }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
    $('#leagues-guide').addClass('active');
    $('#league-tab').addClass('active');
    $('#rosters-tab').addClass('active');
    </script>
{% endblock %}