{% extends 'drafter/leagues/details/_league.html' %}
{% block title %}LeagueSports - League Scoring{% endblock %}

{% block league_content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Scoring Formula</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>Top</td>
                    <td>{{ league.top_score }}</td>
                </tr>
                <tr>
                    <td>Jungle</td>
                    <td>{{ league.jungle_score }}</td>
                </tr>
                <tr>
                    <td>Mid</td>
                    <td>{{ league.mid_score }}</td>
                </tr>
                <tr>
                    <td>ADC</td>
                    <td>{{ league.ad_score }}</td>
                </tr>
                <tr>
                    <td>Support</td>
                    <td>{{ league.support_score }}</td>
                </tr>
            </tbody>
            
            <thead>
                <tr>
                    <th>Per Game Score Modifiers</th>
                    <th>Modifier</th>
                <tr>
            </thead>
            <tbody>
                <tr>
                    <td>Game lost</td>
                    <td>{{ league.per_game_losing_mod }}</td>
                </tr>
                <tr>
                    <td>No deaths</td>
                    <td>{{ league.per_game_godly_mod }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
    $('#scoring-tab').addClass('active');
    </script>
{% endblock %}