{% extends 'drafter/leagues/details/_league.html' %}
{% block title %}LeagueSports - League Standings{% endblock %}

{% block league_content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Team name</th>
                    <th>Team mngr</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Ties</th>
                </tr>
            </thead>
            
            <tbody>
                {% for index, team in teams %}
                <tr>
                    <td>{{ index }}/{{ league.size }}</td>
                    <td><a href="{% url 'drafter.views.team_roster' league.id team.manager.id %}">{{ team.name }}</a></td>
                    <td><a href="{% url 'drafter.views.user' team.manager.id %}">{{ team.manager }}</a></td>
                    <td>{{ team.wins }}</td>
                    <td>{{ team.losses }}</td>
                    <td>{{ team.ties }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
    $('#standings-tab').addClass('active');
    </script>
{% endblock %}
