{% extends 'drafter/_trifold.html' %}
{% block title %}LeagueSports - League Details{% endblock %}
{% load drafter_extras %}

{% block center_banner %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">League</a></li>
        <li {% if not user|has_team:league %}class="disabled"{% endif %}><a href="#">Team</a></li>
        <li><a href="#">Players</a></li>
        <li><a href="#">Scores</a></li>
        <li><a href="#">Transactions</a></li>
    </ul>
{% endblock %}

{% block left_content %}
{% endblock %}

{% block center_content %}
    <ul class="nav nav-pills">
        <li id="standings-tab"><a href="{% url 'drafter.views.league_standings' league.id %}">Standings</a></li>
        <li id="rosters-tab"><a href="{% url 'drafter.views.league_rosters' league.id %}">Rosters</a></li>
        <li id="scoring-tab"><a href="{% url 'drafter.views.league_scoring' league.id %}">Scoring</a></li>
        <li id="playoffs-tab"><a href="{% url 'drafter.views.league_playoffs' league.id %}">Playoffs</a></li>
        <li id="schedule-tab"><a href="{% url 'drafter.views.league_schedule' league.id %}">Schedule</a></li>
        {% if user.may_draft %}
            <li><a id="draft-tab" href="{% url 'drafter.views.league_draft' league.id %}">Draft</a></li>
        {% endif %}
    </ul>
    {% block league_content %}{% endblock %}
{% endblock %}
