{% extends 'drafter/_trifold.html' %}
{% block title %}LeagueSports - League Details{% endblock %}

{% block center_banner %}

{% endblock %}

{% block left_content %}
    {% if user.draftable %}
        <a href="{% url 'drafter.views.draft' league.id %}"><button type="button" class="btn btn-default">Draft</button></a>
    {% endif %}
{% endblock %}
{% block center_content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>League id</th>
                    <th>League name</th>
                    <th>Size</th>
                    <th>Commish</th>
                    <th>Teams</th>
                </tr>
            </thead>
            
            <tbody>
	            <tr>
	                <td>{{ league.id }}</td>
	                <td>{{ league.name }}</td>
	                <td>{{ league.size }}</td>
	                <td>{{ league.commish }}</td>
	                <td>{{ league.users.all }}</td>
	            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block right_content %}
    {% if user.commish %}
        <!-- Commish panel -->
        <p>Commish!</p>
    {% endif %}
{% endblock %}
