<!DOCTYPE html>

<html>
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta charset="utf-8">
	    <title>{% block title %}{% endblock %}</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	
	    <!-- Styles -->
	    <!--  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.css">  -->
	    <!-- <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.js"></script>  -->
	    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/themed/bootstrap.css">
	    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.js"></script>
	    <style type="text/css">
	      body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	      }
	    </style>
	
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	      <script src="../assets/js/html5shiv.js"></script>
	    <![endif]-->
	    {% block head_html %}{% endblock %}
    </head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		    <div class="navbar-header">
		      <a href="../" class="navbar-brand">LeagueSports</a>
		    </div>
		    <div class="navbar-collapse collapse" id="navbar-main">
		      <ul class="nav navbar-nav">
		        <li>
		          <a href="#">Leagues</a>
		        </li>
		        <li>
		          <a href="#">Stats</a>
		        </li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        {% if user.is_authenticated %}
                    <li><a href="../logout">Logout</a></li>
                {% else %}
	                <form class="navbar-form navbar-right form-inline" method="post" action="{% url 'django.contrib.auth.views.login' %}">
		                {% csrf_token %}
		                <div class="form-group">
		                  <input id="id_username" maxlength="254" name="username" type="text" placeholder="Username" class="form-control input-sm">
		                </div>
		                <div class="form-group">
		                  <input id="id_password" name="password" type="password" placeholder="Password" class="form-control input-sm">
		                </div>
		                <input type="submit" class="btn btn-sm btn-warning" />
		                <input type="hidden" name="next" value="{{ next }}" />
	                </form> 
                {% endif %}
		      </ul>
		    </div>
		  </div>
		</div>
		{% block content %} {% endblock %}
	</body>
</html>