{% extends 'drafter/_trifold.html' %}
{% block title %}LeagueSports - Main Page{% endblock %}

{% block left_content %}
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
{% endblock %}
{% block center_content %}
{% endblock %}
{% block right_content %}
    {% if not user.is_authenticated %}
        <div class="well">
		    <form class="bs-example form-horizontal" action="{% url 'drafter.views.index' %}" method="post">
			    {% csrf_token %}
			    <div class="form-group">
		            <input id="id_username" maxlength="30" name="username" type="text" class="form-control input-sm" placeholder="Username">
                </div>
                <div class="form-group">
	                <input id="id_password1" name="password1" type="password" class="form-control input-sm" placeholder="Password">
                </div>
                <div class="form-group">
	                <input id="id_password2" name="password2" type="password" class="form-control input-sm" placeholder="Password Confirmation">
                </div>
			    <input type="submit" value="Register" />
	            <input type="hidden" name="next" value="{{ next }}" />
		    </form>
		</div>
	{% endif %}
{% endblock %}