{% extends 'drafter/_trifold.html' %}
{% block title %}LeagueSports - Statistics{% endblock %}
{% block head %}
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone.js"></script>
{% endblock %}

{% block banner %}
{% endblock %}

{% block left_content %}
{% endblock %}
{% block center_content %}
   <script type="text/javascript">
    (function($){
        var ListView = Backbone.View.extend({
            el: $('#center-content'),
        
            initialize: function() {
                _.bindAll(this, 'render', 'addItem');
                
                this.counter = 0;
                this.render();
            },
            
            events: {
                'click button#add' : 'addItem'
            },
            
            render: function() {
                $(this.el).append("<button id='add' class='btn btn-primary'></button>");
                $(this.el).append("<ul></ul>");
            }, 
            
            addItem: function() {
                this.counter++;
                $('ul', this.el).append("<li>hello world: "+this.counter+"</li>");
            }
        });
            
        var listView = new ListView();
    })(jQuery);
    </script>
{% endblock %}
{% block right_content %}
{% endblock %}