{% extends 'drafter/_trifold.html' %}
{% block title %}LeagueSports - League List{% endblock %}

{% block center_banner %}
{% endblock %}

{% block left_content %}
{% endblock %}
{% block center_content %}
    <ul id="leagues-tabs" class="nav nav-pills">
        <li class="active"><a href="#all-leagues" data-troggle="tab">All Leagues</a></li>
        {% if user.is_authenticated %}
            <li><a href="#my-leagues" data-troggle="tab">My Leagues</a></li>
            <li><a href="#commish-leagues" data-troggle="tab">Commish Leagues</a></li>
            <li><a id="new_league" class="btn-success" href="{% url 'drafter.views.new_league' %}">New League</a></li>
        {% endif %}
    </ul>
    <div class="tab-content">
	    <div class="table-responsive tab-pane active" id="all-leagues">
	        <table class="table table-striped table-bordered table-hover">
	            <thead>
	                <tr>
		                <th>League Name</th>
		                <th>Players</th>
		                <th>Commish</th>
		                <th>Priv</th>
	                </tr>
	            </thead>
	            
	            <tbody>
	                {% for league in all_leagues %}
		                <tr>
		                    <td><a href="{% url 'drafter.views.league' league.id %}">{{ league.name }}</a></td>
		                    <td>{{ league.users.count }}/{{ league.size }}</td>
		                    <td>{{ league.commish }}</td>
		                    <td>{% if not league.public %}<span class="glyphicon glyphicon-lock"></span>{% endif %}</td>
		                </tr>
	                {% endfor %}
	            </tbody>
	        </table>
	    </div>
	    
	    {% if user.is_authenticated %}
		    <div class="table-responsive tab-pane" id="my-leagues">
	            <table class="table table-striped table-bordered table-hover">
	                <thead>
	                    <tr>
	                        <th>League Name</th>
	                        <th>Players</th>
	                        <th>Commish</th>
	                        <th>Priv.</th>
	                    </tr>
	                </thead>
	                
	                <tbody>
	                    {% for league in my_leagues %}
                            <tr>
                                <td><a href="{% url 'drafter.views.league' league.id %}">{{ league.name }}</a></td>
                                <td>{{ league.users.count }}/{{ league.size }}</td>
                                <td>{{ league.commish }}</td>
                                <td>{% if not league.public %}<span class="glyphicon glyphicon-lock"></span>{% endif %}</td>
                            </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	        </div>
        
	        <div class="table-responsive tab-pane" id="commish-leagues">
	            <table class="table table-striped table-bordered table-hover">
	                <thead>
	                    <tr>
	                        <th>League Name</th>
	                        <th>Players</th>
	                        <th>Commish</th>
	                        <th>Priv.</th>
	                    </tr>
	                </thead>
	                
	                <tbody>
	                    {% for league in commish_leagues %}
                            <tr>
                                <td><a href="{% url 'drafter.views.league' league.id %}">{{ league.name }}</a></td>
                                <td>{{ league.users.count }}/{{ league.size }}</td>
                                <td>{{ league.commish }}</td>
                                <td>{% if not league.public %}<span class="glyphicon glyphicon-lock"></span>{% endif %}</td>
                            </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	        </div>
	    {% endif %}
    </div>
    <script>
	$('#leagues-tabs a').click(function (e) {
		if(e.target.id != 'new_league'){
			e.preventDefault()
	        $(this).tab('show')
		}
	});
	$('#leagues-guide').addClass('active');
	</script>
{% endblock %}
{% block right_content %}
{% endblock %}
