{% extends 'drafter/_trifold.html' %}
{% block title %}LeagueSports - User Details{% endblock %}

{% block center_banner %}

{% endblock %}

{% block left_content %}
{% endblock %}
{% block center_content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Date Joined</th>
                    <th>Leagues</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>{{ viewed_user.username }}</td>
                    <td>{{ viewed_user.date_joined }}</td>
                    <td>{{ viewed_user.leagues.all }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
    $('#users-guide').addClass('active');
    </script>
{% endblock %}
