{% extends 'drafter/leagues/details/_settings.html' %}
{% block title %}LeagueSports - League Settings Panel{% endblock %}

{% block left_content %}
{% endblock %}
{% block league_content %}
    <div class="table-responsive">
    	<form action="{% url 'drafter.views.league_draft_settings' league.id %}" method="post">
    	{{ formset.management_form }}
    	{% csrf_token %}
    	{% if formset.non_form_errors %}
    		<div class="alert alert-danger">
    		{{ formset.non_form_errors }}
    		</div>
		{% endif %}
		{% if success %}    	
    		<div class="alert alert-success">
    		Successfully saved settings.
    		</div>
    	{% endif %}
	        <table class="table table-striped table-bordered table-hover">
	            <thead>
	                <tr>
	                    <th>Manager</th>
	                    <th>Team</th>
	                    <th>Draft Pick</th>
	                </tr>
	            </thead>
	            
	            <tbody>
	        		{% for form in formset %}
			       		<tr>
			       			<td>{{ form.instance.manager }} - {{ form.id }}</td>
			       			<td>{{ form.instance.name }}</td>
			       			<td>{{ form.draft_pick }} {% if form.errors %}<div class="alert alert-danger">{{ form.errors }}</div>{% endif %}</td> 
			       		</tr>
		            {% endfor %}
	            </tbody>
	        </table>
	        <input type="submit" value="Submit" />
        </form>
    </div>
    <script>
    $('#draft-settings-tab').addClass('active');
    </script>
{% endblock %}