{% extends 'drafter/leagues/details/__details.html' %}
{% load drafter_extras %}

{% block center_content %}
    <ul class="nav nav-pills">
        <li id="standings-tab"><a href="{% url 'drafter.views.league_standings' league.id %}">Standings</a></li>
        <li id="rosters-tab"><a href="{% url 'drafter.views.league_rosters' league.id %}">Rosters</a></li>
        <li id="scoring-tab"><a href="{% url 'drafter.views.league_scoring' league.id %}">Scoring</a></li>
        <li id="playoffs-tab"><a href="{% url 'drafter.views.league_playoffs' league.id %}">Playoffs</a></li>
        <li id="schedule-tab"><a href="{% url 'drafter.views.league_schedule' league.id %}">Schedule</a></li>
        {% if user|may_enter_draft:league %}
            <li id="draft-tab"><a href="{% url 'drafter.views.league_draft' league.id %}">Draft</a></li>
        {% endif %}
    </ul>
    {% block league_content %}{% endblock %}
{% endblock %}