{% extends 'drafter/leagues/details/__details.html' %}

{% block center_content %}
    <ul class="nav nav-pills">
        <li id="main-tab"><a href="{% url 'drafter.views.league_settings' league.id %}">Main</a></li>
        <li id="requests-tab"><a href="{% url 'drafter.views.new_join_requests' league.id %}">Requests</a></li>
        <li id="draft-settings-tab"><a href="{% url 'drafter.views.league_draft_settings' league.id %}">Draft</a></li>
    </ul>
    <ul class="breadcrumb">
        <li><a href="{% url 'drafter.views.leagues' %}">Leagues</a></li>
        <li><a href="{% url 'drafter.views.league' league.id %}">{{ league.name }}</a></li>
        <li class="active">Commish Panel</li>
    </ul>
    <script>
    $('#league-settings-tab').addClass('active');
    </script>
    {% block league_content %}{% endblock %}
{% endblock %}